package {{.RdbRepoPackage}}

import (
	"context"

	"github.com/Masterminds/squirrel"

    {{-if .IsModelAnotherPackage}}
	{{.ModelPackageAlias}} "{{.ModelPackage}}"
	{{-end}}
)

type basicRepo struct {
	engine
}


{{-range .RdbRepoFuncs}}
{{.}}
{{-end}}