func (b *basicRepo) FindBy{{.KeyNameCombine}}(ctx context.Context, container *{{.ModelType}}) ({{.FetchReturnType}}, error) {
	cond := squirrel.Eq{
	    {{- range .Params}}
	    container.GetCol{{.FieldName}}(): {{.ParamName}}
	    {{- end}}
	}
	sql, args, err := squirrel.Select(container.AllCols()).From(container.TableName()).Where(cond).ToSql()
	if err != nil {
		return nil, err
	}
	return b.{{.FetchFunc}}(ctx, sql, args)
}