package {{.RepoPackageName}}

import (
	"context"

	{{-if .IsModelAnotherPackage}}
    {{.ModelPackageAlias}} "{{.ModelPackage}}"
    {{-end}}
)

type basic interface {
	{{- range .RepoFuncs}}
	{{.}}
	{{- end}}
}
